body {
    background: #0033a0;
    font-family: 'Poppins', sans-serif;
}

h1 {
    text-align: center;
}

.header {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    border-style:solid;
    padding: 20px;
}

.navigations button{
    font-size: 20px;
}

.container{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    border-style:solid;
    border-top: 0;;
    padding: 20px;

}

.customerDetails {
    border-style:groove;
}

form label {
    color: #00f;
    width: 300px;
    display: block;
    float: left;
    margin-right: 10px;
}

form.claimStatus {
    visibility: hidden;
}

input, select {
    margin-bottom: 10px;
    display: block;
}

form label.checkbox-label {
    display: inline-block;
    float: none;
    width: fit-content;
}

input[type="checkbox"] {
    display: inline-block;
}

footer a{
    text-align: center;
    color: #fff;
   display: block;
}

td, th {
    border: 1px solid #000;    
}

.searchBox {
    text-align: center;
    margin-top: 50px;
    font-size: 1.2em;
}